html, body{
  /* The image used */
  background-image: url("wedding.jpg");

  /* Full height */
  height: 100%; 
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  width: 100%;
  background-color: white;
  overflow: hidden;
  height: 85px;
}

img{
  margin-left: 60px;
  margin-top: 5px;
  margin-right: 20px;
  float: left;
  position: absolute;
}

.home-button{
  background-color: white;
    float: left;
    margin: 3px;
    padding: 3px;
    font-size: 20px;
    font-family: "Oswald";
    font-weight: 250;
    position: absolute;
    top: 15px;
    left: 350px;
    cursor: pointer;
    border: 3px solid white;
     -webkit-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;
}
.story-button{
  background-color: white;
    float: left;
    margin: 3px;
    padding: 3px;
    font-size: 20px;
    font-family: "Oswald";
    font-weight: 250;
    position: absolute;
    top: 15px;
    left: 410px;
    cursor: pointer;
    border: 3px solid white;
     -webkit-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;
}
.gallery-button{
  background-color: white;
    float: left;
    margin: 3px;
    padding: 3px;
    font-size: 20px;
    font-family: "Oswald";
    font-weight: 250;
    position: absolute;
    top: 15px;
    left: 495px;
    cursor: pointer;
    border: 3px solid white;
     -webkit-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;
}
.rsvp-button{
  background-color: white;
    float: left;
    margin: 3px;
    padding: 3px;
    font-size: 20px;
    font-family: "Oswald";
    font-weight: 250;
    position: absolute;
    top: 15px;
    left: 563px;
    cursor: pointer;
    border: 3px solid white;
     -webkit-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;
}
.home-button:hover{
    background-color: #008FCC;
    color: white;
    border: 2px solid #26657F;
      -webkit-animation: myanim 3s infinite; 
          animation: myanim 3 s infinite;
}
.story-button:hover{
    background-color: #008FCC;
    color: white;
    border: 2px solid #26657F;
      -webkit-animation: myanim 3s infinite; 
          animation: myanim 3 s infinite;
}
.gallery-button:hover{
    background-color: #008FCC;
    color: white;
    border: 2px solid #26657F;
      -webkit-animation: myanim 3s infinite; 
          animation: myanim 3 s infinite;
}
.rsvp-button:hover{
    background-color: #008FCC;
    color: white;
    border: 2px solid #26657F;
      -webkit-animation: myanim 3s infinite; 
          animation: myanim 3 s infinite;
}